{% extends 'base.html' %} {% block content %}

   <div class "row">
        <div class="col-12">
            <div class="jumbotron text-center">
                <h3 class="jumbotron-heading">About</h3>
            <p class="lead text-muted">
                A coworking space is a great alternative to traditional office environments, often used by entrepreneurs, freelancers, remote workers, 
                startup teams. A coworking space offers a shared
                workspace, often with flexible hours. Coworking also offers sharing of equipment, resources, ideas, and are also
                a great opportunity to network and share experiences with other remote professionals.
              </p>  
                the thought behind this project, 
            and the co-creation idea behind it, and some guidelines to think about when adding /editing/ deleting coworking spaces.
      
            </div>
        </div>
        </div>


{% endblock %}