{% extends 'base.html' %} {% block content %}

   <div class "row">
        <div class="col-12">
            <div class="jumbotron text-center">
                <h2 class="jumbotron-heading">About</h2>
            <p class="lead">
                A coworking space is a great alternative to traditional office environments, often used by entrepreneurs, freelancers, remote workers, 
                startup teams. A coworking space offers a shared
                workspace, often with flexible hours. Coworking also offers sharing of equipment, resources, ideas, and are also
                a great opportunity to network and share experiences with other remote professionals.
              </p> 
              <p>
                The idea about this web page is that we can co-create this together. 
                The page is for all of us that are interested in finding and using coworking spaces in Sweden. You can <strong>add</strong> coworking spaces you know exist or that you have visited, to share these with others. 
                They will be added to the list of coworking spaces for all to see. You can also <strong>edit</strong> the information about them if you see that something is missing or are incorrect. 
                If a place is inactive or shut down you can also be able to <strong>delete</strong> a coworking space.
                </p>
                <tr>
                <p>
                    <mark><strong>Guidelines:</strong></mark> Please be mindful of that if you delete a coworking space it will be deleted permanently.
                    Please add information that is correct and have a second look before you add a new space. Of course you can always edit the information if you notice something that needs to be corrected. 
                </p>
                <h5>Let´s have fun and create this together!</h5>
            </div>
        </div>
        </div>


{% endblock %}