{% extends 'base.html' %} {% block content %}


<div class="container">
    <div class "row">
        <h3 class="text-center">Add a new Coworking space</h3>
        <form action="" method="POST" class="col-12">
            
            <div class="row">
            <div class="form-group col-12">
                <label for="exampleFormControlSelect1">Choose a city</label>
                <select class="form-control" id="city_name">
      <option>Stockholm</option>
      <option>Göteborg</option>
      <option>Malmö</option>
      <option>4</option>
      <option>5</option>
    </select>
            </div>
            </div>
            
            <div class="row">
            <div class="form-group col-12">
                <label for="exampleFormControlInput1">The name of the Coworking space</label>
                <input type="text" class="form-control" id="coworking_name" name="coworking_name">
            </div>
            </div>

            <div class="row">
            <div class="form-group col-12">
                <label for="exampleFormControlInput1">Description of the Coworking space</label>
                <textarea type="text" class="form-control" id="coworking_description" name="coworking_description"></textarea>
            </div>
            </div>

            <div class="row">
            <div class="form-group col-12">
                <label for="exampleFormControlInput1">Address</label>
                <input type="text" class="form-control" id="coworking_address" name="coworking_address">
            </div>
            </div>
            
            <div class="row">
            <div class="form-group col-12">
                <label for="exampleFormControlInput1">Opening hours</label>
                <input type="text" class="form-control" id="opening_hours" name="opening_hours">
            </div>
            </div>

            <div class="row">
            <div class="form-group col-12">
                <label for="exampleFormControlInput1">A link to the homepage</label>
                <input type="text" class="form-control" id="website_url" name="website_url">
            </div>
            </div>
        </form>
    </div>
</div>
</div>

{% endblock %}
