{% extends 'base.html' %} {% block content %}



    <div class "row">
        <h3 class="text-center">Edit Coworking space</h3>
        <form action="{{ url_for('insert_coworkingspace') }}" method="POST" class="col-12">
            
            <div class="row">
            <div class="form-group col-12">
                <label for="exampleFormControlSelect1">City</label>
                <select class="form-control" id="city" name="city_name">
      <option value="" placeholder="Choose a city" disabled selected>Choose a city</option>
      {% for city in cities %}
      {% if city.city_name == coworkingspace.city_name %}
        <option value="{{city.city_name}}" selected >{{city.city_name}}</option>
        {% else %}
         <option value="{{city.city_name}}">{{city.city_name}}</option>
        {% endif %}
      {% endfor %}
    </select>
            </div>
            </div>
            
            <div class="row">
            <div class="form-group col-12">
                <label for="exampleFormControlInput1">The name of the Coworking space</label>
                <input type="text" class="form-control" id="coworking_name" name="coworking_name" value="{{coworkingspace.coworking_name}}">
            </div>
            </div>

            <div class="row">
            <div class="form-group col-12">
                <label for="exampleFormControlInput1">Description of the Coworking space</label>
                <textarea type="text" class="form-control" id="coworking_description" name="coworking_description">{{coworkingspace.coworking_description}}</textarea>
            </div>
            </div>

            <div class="row">
            <div class="form-group col-12">
                <label for="exampleFormControlInput1">Address</label>
                <input type="text" class="form-control" id="coworking_address" name="coworking_address" value="{{coworkingspace.coworking_address}}">
            </div>
            </div>
            
            <div class="row">
            <div class="md-form col-4">
                <label for="openingHours">Opening hours</label>
                
            <input placeholder="Opening time" type="text" class="form-control timepicker" id="opening_hours" name="opening_hours" value="{{coworkingspace.opening_hours}}"> 
            <input placeholder="Closing time" type="text" class="form-control timepicker" id="opening_hours" name="opening_hours" value="{{coworkingspace.opening_hours}}">
            
            </div>
            </div>

            <div class="row">
            <div class="form-group col-12">
                <label for="exampleFormControlInput1">A link to the homepage</label>
                <input type="text" class="form-control" id="website_url" name="website_url" value="{{coworkingspace.website_url}}">
            </div>
            </div>
            
            <div class="row">
                <div class="col-12">
            <button type="submit" class="btn btn-m btn-outline-secondary">Edit</button>
            </div>
            </div>
            
        </form>
    </div>
</div>

<script src="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        //created the local variable opening_hours here with functions to inject the opening hours into the form field intended for this.
        opening_hours = Time.parse('{{coworkingspace.opening_hours}}');
        $('#opening_hours').timepicker('picker').set('select', opening_hours, {timeFormat: 'h:mm p - h:mm p'}).trigger('change')
    });
</script>

{% endblock %}
