{% extends 'base.html' %} {% block content %}

<!-- The heading for the form where you can edit or delete a record from the database -->

<div class= "row">
    <div class="col-12">
        <h3 class="text-center">Edit Coworking space</h3>
    </div>
    </div>

    <!-- A select menu where you can choose a city.
     A for loop is used to loop through the cities to get data from the backend from the cities collection.
      An if statement is used to make the city of the chosen coworking space to be pre-selected in the menu-->

    <div class="row justify-content-center">
        <div class="col-12">

            <form action="{{ url_for('update_coworkingspace', coworkingspace_id=coworkingspace._id) }}" method="POST">
                <div class="form-group">
                    <label for="city"><strong>City</strong></label>
                    <select class="form-control" id="city" name="city_name" required>
                      <option value="" disabled selected>Choose a city</option>
                       {% for city in cities %}
                         {% if city.city_name == coworkingspace.city_name %}
                           <option value="{{city.city_name}}" selected >{{city.city_name}}</option>
                         {% else %}
                           <option value="{{city.city_name}}">{{city.city_name}}</option>
                         {% endif %}
                       {% endfor %}
                    </select>
                </div>
     

    <!-- The fields of the form. They are pre-filled and all of them are required,
    except for the image input where a default image will be added if there is no imagelink inserted there-->

    <div class="form-group">
        <label for="coworking_name"><strong>The name of the Coworking space</strong></label>
        <input type="text" class="form-control" id="coworking_name" name="coworking_name" value="{{coworkingspace.coworking_name}}" required>
    </div>


    <div class="form-group">
       <label for="coworking_description"><strong>Description of the Coworking space</strong></label>
       <textarea class="form-control" id="coworking_description" name="coworking_description" required>{{coworkingspace.coworking_description}}</textarea>
    </div>

    <div class="form-group">
       <label for="coworking_address"><strong>Address</strong></label>
       <input type="text" class="form-control" id="coworking_address" name="coworking_address" value="{{coworkingspace.coworking_address}}" required>
    </div>

    <div class="form-group mb-4">
      <label for="opening_hours"><strong>Opening Time in the morning</strong></label> <br>
          <p>
             Opens in the morning at: <input type="number" size="6" id="opening_hours" name="opening_hours" min="05" max="10" value="{{coworkingspace.opening_hours}}" required> AM
          </p>
    </div>

    <div class="form-group">
       <label for="website_url"><strong>A link to the homepage</strong></label>
       <input type="url" class="form-control" id="website_url" name="website_url" value="{{coworkingspace.website_url}}" required>
    </div>

    <div class="form-group">
      <label for="image_url"><strong>An image of the coworking space</strong></label>
        <h6>Be sure to use an image from the coworking space's website, rightclick on the image, choose Copy image address and paste it in here.</h6>
          <input type="url" class="form-control" id="image_url" name="image_url" value="{{coworkingspace.image_url}}">
    </div>

    <div class="row">
      <div class="col-md-12">
        <button class="btn btn-m btn-outline-secondary" type="submit" name="action">Update</button>
      </div>
    </div>

    </form>
  </div>
</div>
    


 <!-- This area contains the modal that is triggered by a button. When you click the Delete button you can choose from two options which will either take you back to the 
 Edit page or delete the coworking space-->

<div class="row text-center">
    <div class="col-md-12">
        <p id="deleteparagraph" class="text-center"><strong>..Or delete this coworkingspace here:</strong></p>

        <!-- Button that triggers the modal -->
        <button type="button" class="btn btn-m btn-outline-danger justify-content-center" id="deletebutton" data-toggle="modal" data-target="#deletecoworkingspace">
            Delete coworkingspace
         </button>
    </div>
</div>

<!-- The modal -->
<div class="row">
    <div class="col-md-12">
        <div class="modal fade" id="deletecoworkingspace" tabindex="-1" role="dialog" aria-labelledby="deleteCoworkingLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="deleteCoworkingLabel"><strong>Are you sure you want to delete this coworkingspace?</strong></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                           <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        This will delete the coworkingspace permanently from the list.
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">No, go back</button>
                        <a href="{{url_for('delete_coworkingspace', coworkingspace_id=coworkingspace._id) }}" type="button" class="btn btn-danger">Yes, I´m sure</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


{% endblock %}
