<!DOCTYPE html>
<html>
    <head>
        </head>
        <body>
            {% for coworkingspace in coworkingspaces %}
            
            {{coworkingspace.city_name}}
            {{coworkingspace.coworking_name}}
            {{coworkingspace.coworking_description}}
            {{coworkingspace.coworking_address}}
            {{coworkingspace.opening_hours}}
            {{coworkingspace.website_url}}
            {{coworkingspace.image_url}}

            {% endfor %}
        </body>
</html>