{% extends 'base.html' %} {% block content %} 


<main role="main">
<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">The Coworking Swede</h1>
        <p class="lead text-muted">Find a Coworking space</p>
        <p>
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Choose a city</button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">Stockholm</a>
                    <a class="dropdown-item" href="#">Göteborg</a>
                    <a class="dropdown-item" href="#">Malmö</a>
                    <a class="dropdown-item" href="#">Malmö</a>
                    <a class="dropdown-item" href="#">Malmö</a>
                    <a class="dropdown-item" href="#">Malmö</a>
                    <a class="dropdown-item" href="#">Malmö</a>
                    <a class="dropdown-item" href="#">Malmö</a>
                    <a class="dropdown-item" href="#">Malmö</a>
                    <a class="dropdown-item" href="#">Malmö</a>
                </div>
            </div>
            <a href="#" class="btn btn-primary my-2">Search</a>
        </p>
    </div>
</section>

<div class="album py-5 bg-light">
        <div class="container">
        
          <div class="row">
              
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                  {% for coworkingspace in coworkingspaces %}
                <img class="card-img-top" data-src="" alt="" style="height: 225px; width: 100%; display: block;" src={{coworkingspace.image_url}} data-holder-rendered="true">
                <div class="card-body">
                <h5 class="card-title">{{coworkingspace.coworking_name}}</h5>
                  <p class="card-text">{{coworkingspace.coworking_description}}</p>
                  <ul class="list-group list-group-flush">
                   <li class="list-group-item">{{coworkingspace.city_name}}</li>
                   <li class="list-group-item">{{coworkingspace.coworking_address}}</li>
                   <li class="list-group-item">{{coworkingspace.opening_hours}}</li>
                  <li class="list-group-item"> <a href="#" class="card-link">{{coworkingspace.website_url}}</a> </li>
                  <li class="list-group-item"><button type="button" class="btn btn-sm btn-outline-secondary">View more</button> </li>
                   </ul>
                   {% endfor %}
                   </div>
                   
               <!--   <div class="d-flex justify-content-between align-items-center">  -->
              <!--    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">View more</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button> <!--move this to the view page, to be able to edit info-->
              <!--      </div>   -->
                  </div>
                  
                </div>
                </div>
              </div>
            </div>
            
 
      
      </main>

{% endblock %}
